.proj-exits-listing-card {
    background: #8c00ff36;
    border-radius: 10px;
    width: 1100px;
    margin: auto;
  }

.proj-exits-listing-title h2{
    display: flex;
    justify-content: center;
    padding: 30px;
    font-size: 2rem;
}

.proj-exits-listing-content {
    display: flex;
    justify-content: space-between;
    align-items: end;
}
  
.proj-exits-listing-btn {
    cursor: pointer;
    margin: 5px;
    width: 18%;
    font-size: 10px;
}  
  
.proj-exits-listing-table {
    width: 100%;
    background-color: var(--proj-color-table-primary);
    border-spacing: 0;
    border: 1px solid var(--proj-color-table-border);
    border-radius: 15px 15px 0 0; 
    margin-top: 10px;
}

.proj-exits-listing-table-id {
    text-align: end;
}

.proj-exits-listing-table-amount {
    color: var(--proj-color-font-secondary);
    font-weight: bold;
}

.proj-exits-listing-table-status {
    font-weight: bold;
}

.proj-exits-listing-table-status.red {
    background-color: rgba(255, 0, 0, 0.1);
    font-weight: bold;
}
  
.proj-exits-listing-table-status.green {
    background-color: rgb(0, 255, 0, 0.1);
}
  
.proj-exits-listing-table-status.yellow {
    background-color: rgba(246, 255, 0, 0.3);
}

.proj-exits-listing-table-status.gray {
    background-color: rgba(74, 74, 72, 0.5);
}

.proj-exits-listing-table thead {
    height: 50px;
    font-size: 10px;
    color: var(--proj-color-font-quaternary);
}

.proj-exits-listing-table tbody {
    text-align: center;
    font-size: 12px;
    color: var(--proj-color-font-primary);
    background-color: var(--proj-color-card-bg);
}

.proj-exits-listing-table tbody tr {
    height: 50px;
    border-top: 1px solid var(--proj-color-card-border);
}

.proj-exits-listing-table tbody img {
    height: 20px;
    cursor: pointer;
    width: 35px;
}

.proj-exits-listing-icon-off {
    cursor: auto !important;
}

.proj-exits-listing-table tr:nth-of-type(even) {
    background-color: var(--proj-color-table-tertiary);
}

.proj-exits-listing-pagination {
    margin: 50px 30px;
}
